In [1]:
import numpy as np 
import pandas as pd 
import os
from time import time
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from matplotlib import rcParams
%matplotlib inline
le = preprocessing.LabelEncoder()
from numba import jit
import itertools
from seaborn import countplot,lineplot, barplot
from numba import jit
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn import preprocessing
from scipy.stats import randint as sp_randint
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import LeaveOneGroupOut
from sklearn.model_selection import GroupKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

import warnings
warnings.filterwarnings('ignore')
import gc
gc.enable()

print ("Ready !")

Ready !

In [2]:
from imblearn.over_sampling import SMOTE, ADASYN

In [3]:
sm = SMOTE(random_state=2)
ada = ADASYN(random_state=42)

In [4]:
target = pd.read_csv('y_train.csv')
tr = pd.read_csv('x_train.csv')
data = pd.read_csv('x_train.csv')
test = pd.read_csv('x_test.csv')
sub = pd.read_csv('sample_submission.csv')
print('Data is ready !!')

Data is ready !!

In [5]:
def quaternion_to_euler(x, y, z, w):
    import math
    t0 = +2.0 * (w * x + y * z)
    t1 = +1.0 - 2.0 * (x * x + y * y)
    X = math.atan2(t0, t1)

    t2 = +2.0 * (w * y - z * x)
    t2 = +1.0 if t2 > +1.0 else t2
    t2 = -1.0 if t2 < -1.0 else t2
    Y = math.asin(t2)

    t3 = +2.0 * (w * z + x * y)
    t4 = +1.0 - 2.0 * (y * y + z * z)
    Z = math.atan2(t3, t4)

    return X, Y, Z

In [6]:
def fe_step0 (actual):
    
    # https://www.mathworks.com/help/aeroblks/quaternionnorm.html
    # https://www.mathworks.com/help/aeroblks/quaternionmodulus.html
    # https://www.mathworks.com/help/aeroblks/quaternionnormalize.html
        
    actual['norm_quat'] = (actual['orientation_X']**2 + actual['orientation_Y']**2 + actual['orientation_Z']**2 + actual['orientation_W']**2)
    actual['mod_quat'] = (actual['norm_quat'])**0.5
    actual['norm_X'] = actual['orientation_X'] / actual['mod_quat']
    actual['norm_Y'] = actual['orientation_Y'] / actual['mod_quat']
    actual['norm_Z'] = actual['orientation_Z'] / actual['mod_quat']
    actual['norm_W'] = actual['orientation_W'] / actual['mod_quat']
    
    return actual

In [7]:
data = data.drop(['row_id', 'measurement_number'], axis=1)

In [8]:
test = test.drop(['row_id', 'measurement_number'], axis=1)

In [9]:
data = fe_step0(data)
test = fe_step0(test)
print(data.shape)
data.head()

(487680, 17)

,series_id,orientation_X,orientation_Y,orientation_Z,orientation_W,angular_velocity_X,angular_velocity_Y,angular_velocity_Z,linear_acceleration_X,linear_acceleration_Y,linear_acceleration_Z,norm_quat,mod_quat,norm_X,norm_Y,norm_Z,norm_W
0,0,-0.75853,-0.63435,-0.10488,-0.10597,0.107650,0.017561,0.000767,-0.74857,2.1030,-9.7532,0.999997,0.999999,-0.758531,-0.634351,-0.10488,-0.10597
1,0,-0.75853,-0.63434,-0.10490,-0.10600,0.067851,0.029939,0.003385,0.33995,1.5064,-9.4128,0.999995,0.999998,-0.758532,-0.634342,-0.10490,-0.10600
2,0,-0.75853,-0.63435,-0.10492,-0.10597,0.007275,0.028934,-0.005978,-0.26429,1.5922,-8.7267,1.000006,1.000003,-0.758528,-0.634348,-0.10492,-0.10597
3,0,-0.75852,-0.63436,-0.10495,-0.10597,-0.013053,0.019448,-0.008974,0.42684,1.0993,-10.0960,1.000009,1.000005,-0.758516,-0.634357,-0.10495,-0.10597
4,0,-0.75852,-0.63435,-0.10495,-0.10596,0.005135,0.007652,0.005245,-0.50969,1.4689,-10.4410,0.999995,0.999997,-0.758522,-0.634352,-0.10495,-0.10596

In [10]:
def fe_step1 (actual):
    """Quaternions to Euler Angles"""
    
    x, y, z, w = actual['norm_X'].tolist(), actual['norm_Y'].tolist(), actual['norm_Z'].tolist(), actual['norm_W'].tolist()
    nx, ny, nz = [], [], []
    for i in range(len(x)):
        xx, yy, zz = quaternion_to_euler(x[i], y[i], z[i], w[i])
        nx.append(xx)
        ny.append(yy)
        nz.append(zz)
    
    actual['euler_x'] = nx
    actual['euler_y'] = ny
    actual['euler_z'] = nz
    return actual

In [11]:
data = fe_step1(data)
test = fe_step1(test)
print (data.shape)
data.head()

(487680, 20)

,series_id,orientation_X,orientation_Y,orientation_Z,orientation_W,angular_velocity_X,angular_velocity_Y,angular_velocity_Z,linear_acceleration_X,linear_acceleration_Y,linear_acceleration_Z,norm_quat,mod_quat,norm_X,norm_Y,norm_Z,norm_W,euler_x,euler_y,euler_z
0,0,-0.75853,-0.63435,-0.10488,-0.10597,0.107650,0.017561,0.000767,-0.74857,2.1030,-9.7532,0.999997,0.999999,-0.758531,-0.634351,-0.10488,-0.10597,2.843273,-0.024668,1.396667
1,0,-0.75853,-0.63434,-0.10490,-0.10600,0.067851,0.029939,0.003385,0.33995,1.5064,-9.4128,0.999995,0.999998,-0.758532,-0.634342,-0.10490,-0.10600,2.843201,-0.024662,1.396651
2,0,-0.75853,-0.63435,-0.10492,-0.10597,0.007275,0.028934,-0.005978,-0.26429,1.5922,-8.7267,1.000006,1.000003,-0.758528,-0.634348,-0.10492,-0.10597,2.843222,-0.024728,1.396677
3,0,-0.75852,-0.63436,-0.10495,-0.10597,-0.013053,0.019448,-0.008974,0.42684,1.0993,-10.0960,1.000009,1.000005,-0.758516,-0.634357,-0.10495,-0.10597,2.843183,-0.024769,1.396712
4,0,-0.75852,-0.63435,-0.10495,-0.10596,0.005135,0.007652,0.005245,-0.50969,1.4689,-10.4410,0.999995,0.999997,-0.758522,-0.634352,-0.10495,-0.10596,2.843197,-0.024785,1.396698

In [12]:
def feat_eng(data):
    
    df = pd.DataFrame()
    data['totl_anglr_vel'] = (data['angular_velocity_X']**2 + data['angular_velocity_Y']**2 + data['angular_velocity_Z']**2)** 0.5
    data['totl_linr_acc'] = (data['linear_acceleration_X']**2 + data['linear_acceleration_Y']**2 + data['linear_acceleration_Z']**2)**0.5
    data['totl_xyz'] = (data['orientation_X']**2 + data['orientation_Y']**2 + data['orientation_Z']**2)**0.5
    data['acc_vs_vel'] = data['totl_linr_acc'] / data['totl_anglr_vel']
    
    def mean_change_of_abs_change(x):
        return np.mean(np.diff(np.abs(np.diff(x))))
    
    for col in data.columns:
        if col in ['row_id','series_id','measurement_number']:
            continue
        df[col + '_mean'] = data.groupby(['series_id'])[col].mean()
        df[col + '_median'] = data.groupby(['series_id'])[col].median()
        df[col + '_max'] = data.groupby(['series_id'])[col].max()
        df[col + '_min'] = data.groupby(['series_id'])[col].min()
        df[col + '_std'] = data.groupby(['series_id'])[col].std()
        df[col + '_range'] = df[col + '_max'] - df[col + '_min']
        df[col + '_maxtoMin'] = df[col + '_max'] / df[col + '_min']
        df[col + '_mean_abs_chg'] = data.groupby(['series_id'])[col].apply(lambda x: np.mean(np.abs(np.diff(x))))
        df[col + '_mean_change_of_abs_change'] = data.groupby('series_id')[col].apply(mean_change_of_abs_change)
        df[col + '_abs_max'] = data.groupby(['series_id'])[col].apply(lambda x: np.max(np.abs(x)))
        df[col + '_abs_min'] = data.groupby(['series_id'])[col].apply(lambda x: np.min(np.abs(x)))
        df[col + '_abs_avg'] = (df[col + '_abs_min'] + df[col + '_abs_max'])/2
    return df

In [13]:
%%time
data = feat_eng(data)
test = feat_eng(test)
print ("New features: ",data.shape)

New features:  (3810, 276)
Wall time: 2min 38s

In [14]:
data.fillna(0,inplace=True)
test.fillna(0,inplace=True)
data.replace(-np.inf,0,inplace=True)
data.replace(np.inf,0,inplace=True)
test.replace(-np.inf,0,inplace=True)
test.replace(np.inf,0,inplace=True)

In [15]:
data.head()

,series_id,orientation_X,orientation_Y,orientation_Z,orientation_W,angular_velocity_X,angular_velocity_Y,angular_velocity_Z,linear_acceleration_X,linear_acceleration_Y,...,norm_Y,norm_Z,norm_W,euler_x,euler_y,euler_z,totl_anglr_vel,totl_linr_acc,totl_xyz,acc_vs_vel
0,0,-0.75853,-0.63435,-0.10488,-0.10597,0.107650,0.017561,0.000767,-0.74857,2.1030,...,-0.634351,-0.10488,-0.10597,2.843273,-0.024668,1.396667,0.109076,10.005392,0.994368,91.728917
1,0,-0.75853,-0.63434,-0.10490,-0.10600,0.067851,0.029939,0.003385,0.33995,1.5064,...,-0.634342,-0.10490,-0.10600,2.843201,-0.024662,1.396651,0.074240,9.538638,0.994364,128.483970
2,0,-0.75853,-0.63435,-0.10492,-0.10597,0.007275,0.028934,-0.005978,-0.26429,1.5922,...,-0.634348,-0.10492,-0.10597,2.843222,-0.024728,1.396677,0.030428,8.874697,0.994372,291.666195
3,0,-0.75852,-0.63436,-0.10495,-0.10597,-0.013053,0.019448,-0.008974,0.42684,1.0993,...,-0.634357,-0.10495,-0.10597,2.843183,-0.024769,1.396712,0.025082,10.164638,0.994374,405.249042
4,0,-0.75852,-0.63435,-0.10495,-0.10596,0.005135,0.007652,0.005245,-0.50969,1.4689,...,-0.634352,-0.10495,-0.10596,2.843197,-0.024785,1.396698,0.010603,10.556132,0.994368,995.561076

In [16]:
target.head()

   series_id  group_id        surface
0          0        13  fine_concrete
1          1        31       concrete
2          2        20       concrete
3          3        31       concrete
4          4        22     soft_tiles

In [17]:
target['surface'] = le.fit_transform(target['surface'])

In [18]:
target['surface'].value_counts()

1    779
5    732
8    607
7    514
2    363
4    308
6    297
0    189
3     21
Name: surface, dtype: int64

In [19]:
data = target.merge(data, on='series_id')

In [20]:
print(len(target))
target.head()

3810

   series_id  group_id  surface
0          0        13        2
1          1        31        1
2          2        20        1
3          3        31        1
4          4        22        6

In [21]:
print(len(data))
data.head()

487680

,series_id,group_id,surface,orientation_X,orientation_Y,orientation_Z,orientation_W,angular_velocity_X,angular_velocity_Y,angular_velocity_Z,...,norm_Y,norm_Z,norm_W,euler_x,euler_y,euler_z,totl_anglr_vel,totl_linr_acc,totl_xyz,acc_vs_vel
0,0,13,2,-0.75853,-0.63435,-0.10488,-0.10597,0.107650,0.017561,0.000767,...,-0.634351,-0.10488,-0.10597,2.843273,-0.024668,1.396667,0.109076,10.005392,0.994368,91.728917
1,0,13,2,-0.75853,-0.63434,-0.10490,-0.10600,0.067851,0.029939,0.003385,...,-0.634342,-0.10490,-0.10600,2.843201,-0.024662,1.396651,0.074240,9.538638,0.994364,128.483970
2,0,13,2,-0.75853,-0.63435,-0.10492,-0.10597,0.007275,0.028934,-0.005978,...,-0.634348,-0.10492,-0.10597,2.843222,-0.024728,1.396677,0.030428,8.874697,0.994372,291.666195
3,0,13,2,-0.75852,-0.63436,-0.10495,-0.10597,-0.013053,0.019448,-0.008974,...,-0.634357,-0.10495,-0.10597,2.843183,-0.024769,1.396712,0.025082,10.164638,0.994374,405.249042
4,0,13,2,-0.75852,-0.63435,-0.10495,-0.10596,0.005135,0.007652,0.005245,...,-0.634352,-0.10495,-0.10596,2.843197,-0.024785,1.396698,0.010603,10.556132,0.994368,995.561076

In [22]:
fc_vd = data[data['surface']==0]
co_vd = data[data['surface']==1]
st_vd = data[data['surface']==2]
ti_vd = data[data['surface']==3]
sp_vd = data[data['surface']==4]
htls_vd = data[data['surface']==5]
ca_vd = data[data['surface']==6]
ht_vd = data[data['surface']==7]
wo_vd = data[data['surface']==8]

In [23]:
nfc_vd = data[data['surface']!=0]
nco_vd = data[data['surface']!=1]
nst_vd = data[data['surface']!=2]
nti_vd = data[data['surface']!=3]
nsp_vd = data[data['surface']!=4]
nhtls_vd = data[data['surface']!=5]
nca_vd = data[data['surface']!=6]
nht_vd = data[data['surface']!=7]
nwo_vd = data[data['surface']!=8]

In [87]:
nfc_vd['surface']=1
nco_vd['surface']=0
nst_vd['surface']=0
nti_vd['surface']=0
nsp_vd['surface']=0
nhtls_vd['surface']=0
nca_vd['surface']=0
nht_vd['surface']=0
nwo_vd['surface']=0

In [89]:
print(len(fc_vd))
fc_vd.head()

24192

,series_id,group_id,surface,orientation_X,orientation_Y,orientation_Z,orientation_W,angular_velocity_X,angular_velocity_Y,angular_velocity_Z,...,norm_Y,norm_Z,norm_W,euler_x,euler_y,euler_z,totl_anglr_vel,totl_linr_acc,totl_xyz,acc_vs_vel
1536,12,25,0,0.32934,0.93215,0.14474,0.041121,-0.024627,-0.041002,0.249150,...,0.932146,0.144739,0.041121,2.840071,-0.018676,2.465185,0.253699,10.946609,0.999159,43.147952
1537,12,25,0,0.32959,0.93205,0.14475,0.041166,-0.024144,-0.061916,0.208150,...,0.932053,0.144750,0.041166,2.840025,-0.018680,2.464642,0.218502,10.574080,0.999149,48.393607
1538,12,25,0,0.32985,0.93195,0.14478,0.041222,-0.016482,-0.042705,0.162060,...,0.931954,0.144781,0.041222,2.839935,-0.018679,2.464079,0.168401,11.253938,0.999146,66.828307
1539,12,25,0,0.33000,0.93190,0.14478,0.041241,-0.003465,-0.034831,0.124620,...,0.931900,0.144780,0.041241,2.839926,-0.018691,2.463761,0.129442,10.658223,0.999149,82.339479
1540,12,25,0,0.33007,0.93187,0.14477,0.041280,-0.007041,-0.039649,0.057265,...,0.931875,0.144771,0.041280,2.839919,-0.018635,2.463599,0.070006,10.384162,0.999143,148.331604

In [88]:
print(len(nfc_vd))
nfc_vd.head()

463488

,series_id,group_id,surface,orientation_X,orientation_Y,orientation_Z,orientation_W,angular_velocity_X,angular_velocity_Y,angular_velocity_Z,...,norm_Y,norm_Z,norm_W,euler_x,euler_y,euler_z,totl_anglr_vel,totl_linr_acc,totl_xyz,acc_vs_vel
0,0,13,1,-0.75853,-0.63435,-0.10488,-0.10597,0.107650,0.017561,0.000767,...,-0.634351,-0.10488,-0.10597,2.843273,-0.024668,1.396667,0.109076,10.005392,0.994368,91.728917
1,0,13,1,-0.75853,-0.63434,-0.10490,-0.10600,0.067851,0.029939,0.003385,...,-0.634342,-0.10490,-0.10600,2.843201,-0.024662,1.396651,0.074240,9.538638,0.994364,128.483970
2,0,13,1,-0.75853,-0.63435,-0.10492,-0.10597,0.007275,0.028934,-0.005978,...,-0.634348,-0.10492,-0.10597,2.843222,-0.024728,1.396677,0.030428,8.874697,0.994372,291.666195
3,0,13,1,-0.75852,-0.63436,-0.10495,-0.10597,-0.013053,0.019448,-0.008974,...,-0.634357,-0.10495,-0.10597,2.843183,-0.024769,1.396712,0.025082,10.164638,0.994374,405.249042
4,0,13,1,-0.75852,-0.63435,-0.10495,-0.10596,0.005135,0.007652,0.005245,...,-0.634352,-0.10495,-0.10596,2.843197,-0.024785,1.396698,0.010603,10.556132,0.994368,995.561076

In [90]:
fc_d = pd.concat((fc_vd, nfc_vd))
co_d = pd.concat((co_vd, nco_vd))
st_d = pd.concat((st_vd, nst_vd))
ti_d = pd.concat((ti_vd, nti_vd))
sp_d = pd.concat((sp_vd, nsp_vd))
htls_d = pd.concat((htls_vd, nhtls_vd))
ca_d = pd.concat((ca_vd, nca_vd))
ht_d = pd.concat((ht_vd, nht_vd))
wo_d = pd.concat((wo_vd, nwo_vd))

In [91]:
fc_t = fc_d['surface']
co_t = co_d['surface']
st_t = st_d['surface']
ti_t = ti_d['surface']
sp_t = sp_d['surface']
htls_t = htls_d['surface']
ca_t = ca_d['surface']
ht_t = ht_d['surface']
wo_t = wo_d['surface']

In [92]:
print(len(fc_d))
fc_d.head()

487680

,series_id,group_id,surface,orientation_X,orientation_Y,orientation_Z,orientation_W,angular_velocity_X,angular_velocity_Y,angular_velocity_Z,...,norm_Y,norm_Z,norm_W,euler_x,euler_y,euler_z,totl_anglr_vel,totl_linr_acc,totl_xyz,acc_vs_vel
1536,12,25,0,0.32934,0.93215,0.14474,0.041121,-0.024627,-0.041002,0.249150,...,0.932146,0.144739,0.041121,2.840071,-0.018676,2.465185,0.253699,10.946609,0.999159,43.147952
1537,12,25,0,0.32959,0.93205,0.14475,0.041166,-0.024144,-0.061916,0.208150,...,0.932053,0.144750,0.041166,2.840025,-0.018680,2.464642,0.218502,10.574080,0.999149,48.393607
1538,12,25,0,0.32985,0.93195,0.14478,0.041222,-0.016482,-0.042705,0.162060,...,0.931954,0.144781,0.041222,2.839935,-0.018679,2.464079,0.168401,11.253938,0.999146,66.828307
1539,12,25,0,0.33000,0.93190,0.14478,0.041241,-0.003465,-0.034831,0.124620,...,0.931900,0.144780,0.041241,2.839926,-0.018691,2.463761,0.129442,10.658223,0.999149,82.339479
1540,12,25,0,0.33007,0.93187,0.14477,0.041280,-0.007041,-0.039649,0.057265,...,0.931875,0.144771,0.041280,2.839919,-0.018635,2.463599,0.070006,10.384162,0.999143,148.331604

In [93]:
print(len(fc_t))
print(fc_t.head())
fc_t.tail()

487680
1536    0
1537    0
1538    0
1539    0
1540    0
Name: surface, dtype: int64

487675    1
487676    1
487677    1
487678    1
487679    1
Name: surface, dtype: int64

In [94]:
fc_d = fc_d.drop(['series_id', 'group_id', 'surface'], axis=1)
co_d = co_d.drop(['series_id', 'group_id', 'surface'], axis=1)
st_d = st_d.drop(['series_id', 'group_id', 'surface'], axis=1)
ti_d = ti_d.drop(['series_id', 'group_id', 'surface'], axis=1)
sp_d = sp_d.drop(['series_id', 'group_id', 'surface'], axis=1)
htls_d = htls_d.drop(['series_id', 'group_id', 'surface'], axis=1)
ca_d = ca_d.drop(['series_id', 'group_id', 'surface'], axis=1)
ht_d = ht_d.drop(['series_id', 'group_id', 'surface'], axis=1)
wo_d = wo_d.drop(['series_id', 'group_id', 'surface'], axis=1)

In [ ]:
fc_d

In [ ]:
wo_d

In [31]:
# # make the groups
# x = 0
# groups = []

# for group in data['group_id'].unique():
#     groups.append(data[data['group_id']==x])
#     x += 1

# groups

In [32]:
# # make the group labels
# x = 0
# groups_labels = []

# for group in groups:
# #     groups_labels.append(groups[x][np.array(['series_id', 'group_id', 'surface', 'row_id'])])
#     groups_labels.append(groups[x][np.array(['surface'])])
#     x += 1

# groups_labels

SMOTE SECTION

In [33]:
# data_sm, lab_sm = sm.fit_sample(,)

In [34]:
# df_sm = pd.DataFrame(data_sm, columns=data.columns.values)

In [35]:
# df_sm

In [36]:
# print(lab_sm.shape)
# print(len(lab_head))
# print(lab_sm.head())

In [37]:
target = data['surface']

In [40]:
data = data.drop(['series_id', 'group_id', 'surface'], axis=1)

In [45]:
# df_sm = df_sm.drop(['series_id'], axis=1)

In [41]:
test = test.drop(['series_id'], axis=1)

In [62]:
print(len(test))
test.head()

488448

,angular_velocity_X,angular_velocity_Y,angular_velocity_Z,linear_acceleration_X,linear_acceleration_Y,linear_acceleration_Z,norm_quat,mod_quat,norm_X,norm_Y,norm_Z,norm_W,euler_x,euler_y,euler_z,totl_anglr_vel,totl_linr_acc,totl_xyz,acc_vs_vel
0,-0.006524,-0.001071,-0.027390,0.10043,4.2061,-5.5439,0.999991,0.999996,-0.025773,-0.988644,-0.148011,0.003350,2.844735,-0.014254,3.091598,0.028177,6.959611,0.999990,247.000018
1,-0.113960,0.083987,-0.060590,-0.70889,3.9905,-8.0273,0.999992,0.999996,-0.025683,-0.988624,-0.148161,0.003439,2.844435,-0.014411,3.091804,0.153987,8.992450,0.999990,58.397648
2,-0.080518,0.114860,-0.037177,1.45710,2.2828,-11.2990,1.000000,1.000000,-0.025617,-0.988610,-0.148260,0.003571,2.844239,-0.014658,3.091976,0.145114,11.619024,0.999993,80.068203
3,0.070067,0.033820,-0.035904,0.71096,1.8582,-12.2270,0.999990,0.999995,-0.025566,-0.988625,-0.148171,0.003609,2.844420,-0.014712,3.092086,0.085687,12.387813,0.999989,144.570382
4,0.152050,-0.029016,-0.015314,3.39960,2.7881,-10.4100,0.999994,0.999997,-0.025548,-0.988663,-0.147920,0.003477,2.844920,-0.014434,3.092079,0.155550,11.300393,0.999991,72.648208

In [95]:
fc_d.iloc[:,4:23].head()

,angular_velocity_X,angular_velocity_Y,angular_velocity_Z,linear_acceleration_X,linear_acceleration_Y,linear_acceleration_Z,norm_quat,mod_quat,norm_X,norm_Y,norm_Z,norm_W,euler_x,euler_y,euler_z,totl_anglr_vel,totl_linr_acc,totl_xyz,acc_vs_vel
1536,-0.024627,-0.041002,0.249150,2.1088,4.6471,-9.6843,1.000009,1.000005,0.329339,0.932146,0.144739,0.041121,2.840071,-0.018676,2.465185,0.253699,10.946609,0.999159,43.147952
1537,-0.024144,-0.061916,0.208150,1.4699,4.7602,-9.3269,0.999994,0.999997,0.329591,0.932053,0.144750,0.041166,2.840025,-0.018680,2.464642,0.218502,10.574080,0.999149,48.393607
1538,-0.016482,-0.042705,0.162060,2.8652,4.0561,-10.0990,0.999992,0.999996,0.329851,0.931954,0.144781,0.041222,2.839935,-0.018679,2.464079,0.168401,11.253938,0.999146,66.828307
1539,-0.003465,-0.034831,0.124620,1.9380,4.1033,-9.6439,1.000000,1.000000,0.330000,0.931900,0.144780,0.041241,2.839926,-0.018691,2.463761,0.129442,10.658223,0.999149,82.339479
1540,-0.007041,-0.039649,0.057265,2.2069,4.3836,-9.1512,0.999990,0.999995,0.330072,0.931875,0.144771,0.041280,2.839919,-0.018635,2.463599,0.070006,10.384162,0.999143,148.331604

In [59]:
test = test.iloc[:,4:23]

In [233]:
x = ht_d.iloc[:,4:23]
y = ht_t
folds = StratifiedKFold(n_splits=10, shuffle=True, random_state=59)
predicted = np.zeros((test.shape[0],2))
measured= np.zeros((x.shape[0]))
score = 0

In [234]:
# For whole data
for times, (trn_idx, val_idx) in enumerate(folds.split(x.values,y.values)):
#     model = RandomForestClassifier(n_estimators=500, n_jobs = -1)
    model = RandomForestClassifier(n_estimators=500, max_depth=30, min_samples_split=5, n_jobs=-1)
    model.fit(x.iloc[trn_idx],y[trn_idx])
    measured[val_idx] = model.predict(x.iloc[val_idx])
    predicted += model.predict_proba(test)/folds.n_splits
    score += model.score(x.iloc[val_idx],y[val_idx])
    print("Fold: {} score: {}".format(times,model.score(x.iloc[val_idx],y[val_idx])))
#     print(x.iloc[val_idx])
#     print(y[val_idx])
#     print(predicted)
    
    
    importances = model.feature_importances_
    indices = np.argsort(importances)
    features = x.columns
    
#     if model.score(x.iloc[val_idx],y[val_idx]) > 0.92000:
#         hm = 30
#         plt.figure(figsize=(7, 10))
#         plt.title('Feature Importances')
#         plt.barh(range(len(indices[:hm])), importances[indices][:hm], color='b', align='center')
#         plt.yticks(range(len(indices[:hm])), [features[i] for i in indices])
#         plt.xlabel('Relative Importance')
#         plt.show()

    gc.collect()

Fold: 0 score: 0.9823453423281183
Fold: 1 score: 0.9818737312637126
Fold: 2 score: 0.9835752952755905
Fold: 3 score: 0.9817708333333334
Fold: 4 score: 0.9820374015748031
Fold: 5 score: 0.983882874015748
Fold: 6 score: 0.9814837598425197
Fold: 7 score: 0.982057906824147
Fold: 8 score: 0.9838005208440134
Fold: 9 score: 0.9825496749851333

In [134]:
print('Avg Accuracy RF', score / folds.n_splits)

Avg Accuracy RF 0.9862081692913386

In [229]:
preds = predicted.argmax(axis=1)[0:-1:128]
# preds.shape

In [159]:
fc_d_preds = predicted.argmax(axis=1)
fc = fc_d_preds

In [164]:
co_d_preds = predicted.argmax(axis=1)
co = co_d_preds

In [146]:
ht_d_preds = predicted.argmax(axis=1)
ht = ht_d_preds

In [222]:
htls_d_preds = predicted.argmax(axis=1)[0:-1:128]
htls = htls_d_preds

In [119]:
st_d_preds = predicted.argmax(axis=1)
st = st_d_preds

In [124]:
ti_d_preds = predicted.argmax(axis=1)
ti = ti_d_preds

In [130]:
sp_d_preds = predicted.argmax(axis=1)
sp = sp_d_preds

In [136]:
ca_d_preds = predicted.argmax(axis=1)
ca = ca_d_preds

In [230]:
wo_d_preds = predicted.argmax(axis=1)
wo = wo_d_preds

In [235]:
wo[:]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [257]:
# # sub = pd.read_csv('sample_submission.csv')
# sub['surface'] = le.inverse_transform(wo)
diff.to_csv('failed_diff.csv', index=False)
# sub[sub['surface']==1]

In [175]:
fc_sub = sub

In [187]:
co_sub = sub

In [189]:
ht_sub = sub

In [224]:
htls_sub = sub

In [ ]:
st_sub = sub

In [173]:
ti_sub = sub

In [179]:
sp_sub = sub

In [185]:
ca_sub = sub

In [183]:
wo_sub = sub

In [255]:
diff = pd.concat((diff, wo_sub), axis=1)

In [256]:
diff

,series_id,surface,series_id,surface,series_id,surface,series_id,surface,series_id,surface,series_id,surface,series_id,surface,series_id,surface,series_id,surface
0,0,carpet,0,carpet,0,carpet,0,carpet,0,carpet,0,carpet,0,carpet,0,carpet,0,carpet
1,1,carpet,1,carpet,1,carpet,1,carpet,1,carpet,1,carpet,1,carpet,1,carpet,1,carpet
2,2,carpet,2,carpet,2,carpet,2,carpet,2,carpet,2,carpet,2,carpet,2,carpet,2,carpet
3,3,carpet,3,carpet,3,carpet,3,carpet,3,carpet,3,carpet,3,carpet,3,carpet,3,carpet
4,4,carpet,4,carpet,4,carpet,4,carpet,4,carpet,4,carpet,4,carpet,4,carpet,4,carpet
5,5,carpet,5,carpet,5,carpet,5,carpet,5,carpet,5,carpet,5,carpet,5,carpet,5,carpet
6,6,carpet,6,carpet,6,carpet,6,carpet,6,carpet,6,carpet,6,carpet,6,carpet,6,carpet
7,7,carpet,7,carpet,7,carpet,7,carpet,7,carpet,7,carpet,7,carpet,7,carpet,7,carpet
8,8,carpet,8,carpet,8,carpet,8,carpet,8,carpet,8,carpet,8,carpet,8,carpet,8,carpet
9,9,carpet,9,carpet,9,carpet,9,carpet,9,carpet,9,carpet,9,carpet,9,carpet,9,carpet
10,10,carpet,10,carpet,10,carpet,10,carpet,10,carpet,10,carpet,10,carpet,10,carpet,10,carpet
11,11,carpet,11,carpet,11,carpet,11,carpet,11,carpet,11,carpet,11,carpet,11,carpet,11,carpet
12,12,carpet,12,carpet,12,carpet,12,carpet,12,carpet,12,carpet,12,carpet,12,carpet,12,carpet
13,13,carpet,13,carpet,13,carpet,13,carpet,13,carpet,13,carpet,13,carpet,13,carpet,13,carpet
14,14,carpet,14,carpet,14,carpet,14,carpet,14,carpet,14,carpet,14,carpet,14,carpet,14,carpet
15,15,carpet,15,carpet,15,carpet,15,carpet,15,carpet,15,carpet,15,carpet,15,carpet,15,carpet
16,16,carpet,16,carpet,16,carpet,16,carpet,16,carpet,16,carpet,16,carpet,16,carpet,16,carpet
17,17,carpet,17,carpet,17,carpet,17,carpet,17,carpet,17,carpet,17,carpet,17,carpet,17,carpet
18,18,carpet,18,carpet,18,carpet,18,carpet,18,carpet,18,carpet,18,carpet,18,carpet,18,carpet
19,19,carpet,19,carpet,19,carpet,19,carpet,19,carpet,19,carpet,19,carpet,19,carpet,19,carpet
20,20,carpet,20,carpet,20,carpet,20,carpet,20,carpet,20,carpet,20,carpet,20,carpet,20,carpet
21,21,carpet,21,carpet,21,carpet,21,carpet,21,carpet,21,carpet,21,carpet,21,carpet,21,carpet
22,22,carpet,22,carpet,22,carpet,22,carpet,22,carpet,22,carpet,22,carpet,22,carpet,22,carpet
23,23,carpet,23,carpet,23,carpet,23,carpet,23,carpet,23,carpet,23,carpet,23,carpet,23,carpet
24,24,carpet,24,carpet,24,carpet,24,carpet,24,carpet,24,carpet,24,carpet,24,carpet,24,carpet
25,25,concrete,25,concrete,25,concrete,25,concrete,25,concrete,25,concrete,25,concrete,25,concrete,25,concrete
26,26,carpet,26,carpet,26,carpet,26,carpet,26,carpet,26,carpet,26,carpet,26,carpet,26,carpet
27,27,carpet,27,carpet,27,carpet,27,carpet,27,carpet,27,carpet,27,carpet,27,carpet,27,carpet
28,28,carpet,28,carpet,28,carpet,28,carpet,28,carpet,28,carpet,28,carpet,28,carpet,28,carpet
29,29,carpet,29,carpet,29,carpet,29,carpet,29,carpet,29,carpet,29,carpet,29,carpet,29,carpet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3786,3786,carpet,3786,carpet,3786,carpet,3786,carpet,3786,carpet,3786,carpet,3786,carpet,3786,carpet,3786,carpet
3787,3787,carpet,3787,carpet,3787,carpet,3787,carpet,3787,carpet,3787,carpet,3787,carpet,3787,carpet,3787,carpet
3788,3788,carpet,3788,carpet,3788,carpet,3788,carpet,3788,carpet,3788,carpet,3788,carpet,3788,carpet,3788,carpet
3789,3789,carpet,3789,carpet,3789,carpet,3789,carpet,3789,carpet,3789,carpet,3789,carpet,3789,carpet,3789,carpet
3790,3790,carpet,3790,carpet,3790,carpet,3790,carpet,3790,carpet,3790,carpet,3790,carpet,3790,carpet,3790,carpet
3791,3791,carpet,3791,carpet,3791,carpet,3791,carpet,3791,carpet,3791,carpet,3791,carpet,3791,carpet,3791,carpet
3792,3792,carpet,3792,carpet,3792,carpet,3792,carpet,3792,carpet,3792,carpet,3792,carpet,3792,carpet,3792,carpet
3793,3793,carpet,3793,carpet,3793,carpet,3793,carpet,3793,carpet,3793,carpet,3793,carpet,3793,carpet,3793,carpet
3794,3794,carpet,3794,carpet,3794,carpet,3794,carpet,3794,carpet,3794,carpet,3794,carpet,3794,carpet,3794,carpet
3795,3795,carpet,3795,carpet,3795,carpet,3795,carpet,3795,carpet,3795,carpet,3795,carpet,3795,carpet,3795,carpet
3796,3796,carpet,3796,carpet,3796,carpet,3796,carpet,3796,carpet,3796,carpet,3796,carpet,3796,carpet,3796,carpet
3797,3797,concrete,3797,concrete,3797,concrete,3797,concrete,3797,concrete,3797,concrete,3797,concrete,3797,concrete,3797,concrete
3798,3798,carpet,3798,carpet,3798,carpet,3798,carpet,3798,carpet,3798,carpet,3798,carpet,3798,carpet,3798,carpet
3799,3799,carpet,3799,carpet,3799,carpet,3799,carpet,3799,carpet,3799,carpet,3799,carpet,3799,carpet,3799,carpet
3800,3800,carpet,3800,carpet,3800,carpet,3800,carpet,3800,carpet,3800,carpet,3800,carpet,3800,carpet,3800,carpet
3801,3801,concrete,3801,concrete,3801,concrete,3801,concrete,3801,concrete,3801,concrete,3801,concrete,3801,concrete,3801,concrete
3802,3802,carpet,3802,carpet,3802,carpet,3802,carpet,3802,carpet,3802,carpet,3802,carpet,3802,carpet,3802,carpet
3803,3803,carpet,3803,carpet,3803,carpet,3803,carpet,3803,carpet,3803,carpet,3803,carpet,3803,carpet,3803,carpet
3804,3804,carpet,3804,carpet,3804,carpet,3804,carpet,3804,carpet,3804,carpet,3804,carpet,3804,carpet,3804,carpet
3805,3805,carpet,3805,carpet,3805,carpet,3805,carpet,3805,carpet,3805,carpet,3805,carpet,3805,carpet,3805,carpet
3806,3806,carpet,3806,carpet,3806,carpet,3806,carpet,3806,carpet,3806,carpet,3806,carpet,3806,carpet,3806,carpet
3807,3807,carpet,3807,carpet,3807,carpet,3807,carpet,3807,carpet,3807,carpet,3807,carpet,3807,carpet,3807,carpet
3808,3808,carpet,3808,carpet,3808,carpet,3808,carpet,3808,carpet,3808,carpet,3808,carpet,3808,carpet,3808,carpet
3809,3809,carpet,3809,carpet,3809,carpet,3809,carpet,3809,carpet,3809,carpet,3809,carpet,3809,carpet,3809,carpet
3810,3810,carpet,3810,carpet,3810,carpet,3810,carpet,3810,carpet,3810,carpet,3810,carpet,3810,carpet,3810,carpet
3811,3811,carpet,3811,carpet,3811,carpet,3811,carpet,3811,carpet,3811,carpet,3811,carpet,3811,carpet,3811,carpet
3812,3812,carpet,3812,carpet,3812,carpet,3812,carpet,3812,carpet,3812,carpet,3812,carpet,3812,carpet,3812,carpet
3813,3813,carpet,3813,carpet,3813,carpet,3813,carpet,3813,carpet,3813,carpet,3813,carpet,3813,carpet,3813,carpet
3814,3814,carpet,3814,carpet,3814,carpet,3814,carpet,3814,carpet,3814,carpet,3814,carpet,3814,carpet,3814,carpet
3815,3815,carpet,3815,carpet,3815,carpet,3815,carpet,3815,carpet,3815,carpet,3815,carpet,3815,carpet,3815,carpet

In [198]:
co_sub

      series_id   surface
0             0    carpet
1             1    carpet
2             2    carpet
3             3    carpet
4             4    carpet
5             5    carpet
6             6    carpet
7             7    carpet
8             8    carpet
9             9    carpet
10           10    carpet
11           11    carpet
12           12    carpet
13           13    carpet
14           14    carpet
15           15    carpet
16           16    carpet
17           17    carpet
18           18    carpet
19           19    carpet
20           20    carpet
21           21    carpet
22           22    carpet
23           23    carpet
24           24    carpet
25           25  concrete
26           26    carpet
27           27    carpet
28           28    carpet
29           29    carpet
...         ...       ...
3786       3786    carpet
3787       3787    carpet
3788       3788    carpet
3789       3789    carpet
3790       3790    carpet
3791       3791    carpet
3792       3792    carpet
3793       3793    carpet
3794       3794    carpet
3795       3795    carpet
3796       3796    carpet
3797       3797  concrete
3798       3798    carpet
3799       3799    carpet
3800       3800    carpet
3801       3801  concrete
3802       3802    carpet
3803       3803    carpet
3804       3804    carpet
3805       3805    carpet
3806       3806    carpet
3807       3807    carpet
3808       3808    carpet
3809       3809    carpet
3810       3810    carpet
3811       3811    carpet
3812       3812    carpet
3813       3813    carpet
3814       3814    carpet
3815       3815    carpet

[3816 rows x 2 columns]

In [226]:
htls_sub[htls_sub['surface']=='concrete']

      series_id   surface
25           25  concrete
33           33  concrete
57           57  concrete
133         133  concrete
174         174  concrete
198         198  concrete
346         346  concrete
347         347  concrete
348         348  concrete
349         349  concrete
351         351  concrete
367         367  concrete
380         380  concrete
394         394  concrete
417         417  concrete
448         448  concrete
476         476  concrete
495         495  concrete
505         505  concrete
556         556  concrete
575         575  concrete
580         580  concrete
592         592  concrete
631         631  concrete
652         652  concrete
672         672  concrete
743         743  concrete
780         780  concrete
781         781  concrete
792         792  concrete
...         ...       ...
3174       3174  concrete
3215       3215  concrete
3220       3220  concrete
3226       3226  concrete
3237       3237  concrete
3241       3241  concrete
3248       3248  concrete
3255       3255  concrete
3257       3257  concrete
3423       3423  concrete
3424       3424  concrete
3461       3461  concrete
3466       3466  concrete
3478       3478  concrete
3481       3481  concrete
3545       3545  concrete
3594       3594  concrete
3603       3603  concrete
3609       3609  concrete
3617       3617  concrete
3642       3642  concrete
3678       3678  concrete
3716       3716  concrete
3723       3723  concrete
3728       3728  concrete
3738       3738  concrete
3763       3763  concrete
3766       3766  concrete
3797       3797  concrete
3801       3801  concrete

[193 rows x 2 columns]

In [199]:
fc_sub#[fc_sub['surface']=='concrete']

      series_id   surface
0             0    carpet
1             1    carpet
2             2    carpet
3             3    carpet
4             4    carpet
5             5    carpet
6             6    carpet
7             7    carpet
8             8    carpet
9             9    carpet
10           10    carpet
11           11    carpet
12           12    carpet
13           13    carpet
14           14    carpet
15           15    carpet
16           16    carpet
17           17    carpet
18           18    carpet
19           19    carpet
20           20    carpet
21           21    carpet
22           22    carpet
23           23    carpet
24           24    carpet
25           25  concrete
26           26    carpet
27           27    carpet
28           28    carpet
29           29    carpet
...         ...       ...
3786       3786    carpet
3787       3787    carpet
3788       3788    carpet
3789       3789    carpet
3790       3790    carpet
3791       3791    carpet
3792       3792    carpet
3793       3793    carpet
3794       3794    carpet
3795       3795    carpet
3796       3796    carpet
3797       3797  concrete
3798       3798    carpet
3799       3799    carpet
3800       3800    carpet
3801       3801  concrete
3802       3802    carpet
3803       3803    carpet
3804       3804    carpet
3805       3805    carpet
3806       3806    carpet
3807       3807    carpet
3808       3808    carpet
3809       3809    carpet
3810       3810    carpet
3811       3811    carpet
3812       3812    carpet
3813       3813    carpet
3814       3814    carpet
3815       3815    carpet

[3816 rows x 2 columns]

In [200]:
wo_sub#[wo_sub['surface']=='concrete']

      series_id   surface
0             0    carpet
1             1    carpet
2             2    carpet
3             3    carpet
4             4    carpet
5             5    carpet
6             6    carpet
7             7    carpet
8             8    carpet
9             9    carpet
10           10    carpet
11           11    carpet
12           12    carpet
13           13    carpet
14           14    carpet
15           15    carpet
16           16    carpet
17           17    carpet
18           18    carpet
19           19    carpet
20           20    carpet
21           21    carpet
22           22    carpet
23           23    carpet
24           24    carpet
25           25  concrete
26           26    carpet
27           27    carpet
28           28    carpet
29           29    carpet
...         ...       ...
3786       3786    carpet
3787       3787    carpet
3788       3788    carpet
3789       3789    carpet
3790       3790    carpet
3791       3791    carpet
3792       3792    carpet
3793       3793    carpet
3794       3794    carpet
3795       3795    carpet
3796       3796    carpet
3797       3797  concrete
3798       3798    carpet
3799       3799    carpet
3800       3800    carpet
3801       3801  concrete
3802       3802    carpet
3803       3803    carpet
3804       3804    carpet
3805       3805    carpet
3806       3806    carpet
3807       3807    carpet
3808       3808    carpet
3809       3809    carpet
3810       3810    carpet
3811       3811    carpet
3812       3812    carpet
3813       3813    carpet
3814       3814    carpet
3815       3815    carpet

[3816 rows x 2 columns]

In [ ]:
for times, (trn_idx, val_idx) in enumerate(folds.split(data.values,target['surface'].values)):
    model = RandomForestClassifier(n_estimators=500, n_jobs = -1)
    #model = RandomForestClassifier(n_estimators=500, max_depth=10, min_samples_split=5, n_jobs=-1)
    model.fit(data.iloc[trn_idx],target['surface'][trn_idx])
    measured[val_idx] = model.predict(data.iloc[val_idx])
    predicted += model.predict_proba(test)/folds.n_splits
    score += model.score(data.iloc[val_idx],target['surface'][val_idx])
    print("Fold: {} score: {}".format(times,model.score(data.iloc[val_idx],target['surface'][val_idx])))

    importances = model.feature_importances_
    indices = np.argsort(importances)
    features = data.columns
    
    if model.score(data.iloc[val_idx],target['surface'][val_idx]) > 0.92000:
        hm = 30
        plt.figure(figsize=(7, 10))
        plt.title('Feature Importances')
        plt.barh(range(len(indices[:hm])), importances[indices][:hm], color='b', align='center')
        plt.yticks(range(len(indices[:hm])), [features[i] for i in indices])
        plt.xlabel('Relative Importance')
        plt.show()

    gc.collect()