In [7]:
import os
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import itertools

from sklearn.metrics import *
from sklearn.model_selection import *
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

import tensorflow as tf

import keras
from keras.layers import *
from keras.callbacks import *
from keras.models import Model, Sequential
from keras import backend as K
from keras.engine.topology import Layer
from keras import initializers, regularizers, constraints, optimizers, layers
from keras.layers import LeakyReLU

In [15]:
target = pd.read_csv('target.csv')
data = pd.read_csv('data.csv')
test = pd.read_csv('test.csv')
vdata = pd.read_csv('vdata.csv')
vtarget = pd.read_csv('vtarget.csv')
btarget = pd.read_csv('btarget.csv', header=None)
bvtarget = pd.read_csv('bvtarget.csv', header=None)
sub = pd.read_csv('sample_submission.csv')
print('Data is ready !!')

Data is ready !!

In [16]:
btarget

        0
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
...    ..
358882  4
358883  4
358884  4
358885  4
358886  4
358887  4
358888  4
358889  4
358890  4
358891  4
358892  4
358893  4
358894  4
358895  4
358896  4
358897  4
358898  4
358899  4
358900  4
358901  4
358902  4
358903  4
358904  4
358905  4
358906  4
358907  4
358908  4
358909  4
358910  4
358911  4

[358912 rows x 1 columns]

In [18]:
data = data.values
vdata = vdata.values
test = test.values
target = target['surface']
vtarget = vtarget['surface']

In [19]:
print(target.shape)
print(vtarget.shape)
print(btarget.shape)
print(bvtarget.shape)
print(vdata.shape)
print(data.shape)
test.shape

(2804,)
(1006,)
(358912, 1)
(128768, 1)
(128768, 23)
(358912, 23)

(488448, 23)

In [20]:
data = data.reshape((358912, 23))
vdata = vdata.reshape((128768, 23))
test = test.reshape((488448, 23))

In [21]:
model = Sequential()

# data = data.reshape((2804, 128, 23))
# vdata = vdata.reshape((1006, 128, 23))
# test = test.reshape((3816, 128, 23))
num_classes = 9


# model.add(Conv1D(16, (3,), padding='same', input_shape=data.shape[1:], use_bias=False, kernel_regularizer=regularizers.l2(0.001)))
# model.add(BatchNormalization())
# model.add(Activation('tanh'))
# model.add(Conv1D(16, (3,), use_bias=False, kernel_regularizer=regularizers.l2(0.001)))
# model.add(BatchNormalization())
# model.add(Activation('tanh'))
# model.add(MaxPooling1D(pool_size=(2,)))
# # model.add(SpatialDropout1D(0.25))

# model.add(Conv1D(64, (3,), padding='same', use_bias=False, kernel_regularizer=regularizers.l2(0.001)))
# model.add(BatchNormalization())
# model.add(Activation('tanh'))
# model.add(Conv1D(64, (3,), use_bias=False, kernel_regularizer=regularizers.l2(0.001)))
# model.add(BatchNormalization())
# model.add(Activation('tanh'))
# model.add(MaxPooling1D(pool_size=(2,)))
# # model.add(SpatialDropout1D(0.25))


# model.add(Flatten())
# model.add(LSTM(128, use_bias=False, kernel_regularizer=regularizers.l2(0.001)))
# model.add(BatchNormalization())
# model.add(Activation('tanh'))
model.add(Dense(64, input_dim=23, use_bias=False, kernel_regularizer=regularizers.l2(0.001)))
model.add(BatchNormalization())
model.add(Activation('tanh'))
model.add(Dropout(0.3))
model.add(Dense(64, use_bias=False, kernel_regularizer=regularizers.l2(0.001)))
model.add(BatchNormalization())
model.add(Activation('tanh'))
model.add(Dropout(0.3))
model.add(Dense(64, use_bias=False, kernel_regularizer=regularizers.l2(0.001)))
model.add(BatchNormalization())
model.add(Activation('tanh'))
model.add(Dropout(0.3))
model.add(Dense(num_classes))
model.add(Activation('softmax'))

In [22]:
opt = keras.optimizers.rmsprop(lr=0.0001, decay=1e-6)
# Let's train the model using RMSprop
model.compile(loss='sparse_categorical_crossentropy',
              optimizer=opt,
              metrics=['accuracy'])

# loss='mearn_squared_error'
# 'adam'
# 'Nadam'
# loss = kullback_leibler_divergence
#

In [ ]:
model.fit(data, btarget,
              batch_size=128,
              epochs=100,
              validation_data=(vdata, bvtarget),
              shuffle=True)

In [ ]:
preds = model.predict_classes(test)
preds = preds[0:-1:128]
sub['surface'] = preds
sub['surface'] = sub['surface'].map(decode_dic)
sub.head(15)

In [ ]:
sub.to_csv('submission10.csv', index=False)